@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fake Valley Community Bank</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row home-buttons">
    <div class="col-md-6">
        <a href="@Url.Action("Withdraw", "Transaction", new { customerId = ViewBag.customerId})" class="btn btn-primary btn-block">Withdraw</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Deposit", "Transaction", new { customerId = ViewBag.customerId})" class="btn btn-primary btn-block">Deposit</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary btn-block">Print Statement</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary btn-block">Quick Cash $100</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary btn-block">Transfer Funds</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-block">Balance Inquery</a>
    </div>
    

</div>
