body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    background: url('Images/city3.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}